/*  _checkout.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

body.woocommerce-checkout
  > .woocommerce
    width: 80%
    margin: 0 auto

    +tablet
      max-width: 700px

.woocommerce-cart-form
  padding-top: 30px
  padding-bottom: 30px

.woocommerce-info
  margin-bottom: 45px


.woocommerce-checkout
  input
    padding-left: 6px


.checkout_coupon
  +flex($b: flex-start)
  width: 100%
  margin: 20px auto

  #coupon_code
    flex: 0 0 20%
    height: 35px
    padding: 5px
    margin-right: 20px

  .form-row
    margin-bottom: 30px


.checkout.woocommerce-checkout
  position: relative

  +tablet

  h3
    margin: 10px auto 20px

  label


  input
    height: 35px


#order_comments
  display: block
  width: 100%


.shop_table.woocommerce-checkout-review-order-table
  // margin: 30px auto

  th, .product-name
    width: 70%
    height: 20px

  td
    width: 30%
    height: 20px


.checkout.woocommerce-checkout 
  input
    width: 70%
    display: block

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper
  +flex
  width: 100%

  p
    margin-bottom: 30px


#billing_first_name_field,
#billing_last_name_field,
#billing_phone_field,
#billing_email_field,
#billing_city_field,
#shipping_first_name_field,
#shipping_last_name_field,
#shipping_city_field
  flex: 0 0 100%

  +tablet
    flex: 0 0 50%

#billing_company_field,
#billing_country_field,
#billing_address_1_field,
#billing_address_2_field,
#shipping_company_field,
#shipping_address_1_field,
#shipping_address_2_field
  flex: 0 0 100%

#billing_state_field,
#billing_postcode_field,
#shipping_state_field,
#shipping_postcode_field
  flex: 0 0 100%

  +tablet
    flex: 0 0 25%

.select2-container--default,
  display: block
  height: 35px

#billing_country_field
  label
    +tablet
      padding-right: 20px

#billing_first_name_field,
#billing_state_field,
#billing_phone_field,
#billing_city_field,
#shipping_first_name_field,
#shipping_city_field,
#shipping_state_field
  +tablet
    padding-right: 20px

#billing_last_name_field,
#billing_postcode_field,
#billing_email_field,
#billing_state_field,
#shipping_last_name_field,
#shipping_state_field,
#shipping_postcode_field
  +tablet
    padding-left: 20px

#account_password_field
  margin-top: 20px

#billing_first_name,
#billing_last_name,
#billing_company,
#billing_city,
#billing_state,
#billing_postcode,
#billing_phone,
#billing_email,
#shipping_first_name,
#shipping_last_name,
#shipping_company,
#shipping_country_field,
#shipping_city,
#shipping_state,
#shipping_postcode
  width: 100%

#billing_address_1,
#billing_address_2,
#account_password,
#shipping_address_1,
#shipping_address_2
  width: 100%

  +tablet
    width: 47%


#order_review_heading, 
.woocommerce-additional-fields
  margin-top: 50px

#order_review
  +tablet
    max-width: 400px
    margin-left: auto

#place_order
  padding: 0
  margin-top: 50px
  margin-left: auto
  width: 200px

.woocommerce-shipping-fields
  width: 100%
  margin: 0
  padding: 0

.checkbox
  +flex($b: flex-start)
  height: 20px

  #createaccount,
  #ship-to-different-address-checkbox
    display: block
    flex: 0 0 20px
    height: 20px
    margin-top: 7px

  span
    display: block
    flex: 0 0 auto
    height: 20px


.shop_table,
.woocommerce-checkout-review-order-table

  tbody
    .cart_item
      height: 60px

    .product-name,
    .product-total
      padding-top: 20px
      padding-bottom: 20px

  tfoot
    th,
    tr
      padding-top: 20px
      padding-bottom: 20px

  .shipping
    td
      padding-top: 20px
      padding-bottom: 20px      

.woocommerce-checkout-payment
  ul li
    padding-top: 10px
    padding-bottom: 10px

body.woocommerce-checkout
  .woocommerce-form-login
    p:first-child
      max-width: 500px
      margin: 0 auto 25px

    label
      display: block
      margin-bottom: 10px

    input
      width: 420px
      margin: 0 auto 30px
      display: block

    input[type=submit]
      width: 170px

.woocommerce-form__label-for-checkbox
  +flex
  
  .rememberme
    display: block
    width: 20px
    height: 20px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.woocommerce-cart-form
  border-bottom-style: solid
  border-bottom-width: 6px
  border-top-style: solid
  border-top-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px

.woocommerce-info
  +gothbold
  color: $darkgrey
  font-size: 0.75rem
  letter-spacing: 0.1rem
  line-height: 1.9rem
  text-align: left
  text-transform: uppercase
  border-bottom-style: solid
  border-bottom-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px

  a
    color: $rust
    transition: 0.4s color

    &:hover
      color: $darkgrey


.checkout_coupon
  .input-text
    +gothmed
    color: $darkgrey
    font-size: 0.55rem
    letter-spacing: 0.1rem
    text-align: center
    text-transform: uppercase

  input.button
    +gothmed
    color: $white
    background-color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px
    transition: 0.4s background-color, 0.4s color   

    &:hover
      background-color: $white
      color: $darkgrey


.checkout.woocommerce-checkout
  h3
    +gothbold
    color: $darkgrey
    font-size: 0.75rem
    letter-spacing: 0.1rem
    line-height: 1.9rem
    text-align: left
    text-transform: uppercase
    border-bottom-style: solid
    border-bottom-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px

  p
    +gothbook
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.05rem
    line-height: 1rem
    text-align: left
    text-transform: uppercase
    transition: 0.4s color

  .required
    color: $rust

  input
    +gothmed
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px
    transition: 0.4s background-color  

  .select2-container
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px


.select2-container--default .select2-selection--single
  border: none
  border-width: 0
  background-color: transparent


.select2-container--default .select2-selection--single .select2-selection__arrow b
  border-color: $darkgrey transparent transparent


#order_comments
  +gothmed
  color: $darkgrey
  font-size: 0.6rem
  letter-spacing: 0.1rem
  line-height: 1rem
  text-transform: uppercase
  text-align: left
  border-style: solid
  border-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px
  transition: 0.4s background-color  


.woocommerce-checkout-review-order-table
  th
    +gothmed
    color: $darkgrey
    font-size: 0.55rem
    letter-spacing: 0.1rem
    text-transform: uppercase

  thead
    text-align: left
    
    .product-name,
    .product-total
      color: grey

  tbody
    border-bottom: 1px solid grey
    .cart_item

    .product-name,
    .product-total
      

  tfoot
    tr
      text-align: left
      border-bottom: 1px solid grey

    td
      p 
        line-height: 0.2rem


  td
    +gothmed
    color: $darkgrey
    font-size: 0.7rem
    letter-spacing: 0.08rem
    text-transform: uppercase

  .product-name
    color: $black

  .product-quantity
    +gothmed
    color: $darkgrey
    font-size: 0.55rem
    letter-spacing: 0.1rem
    text-transform: uppercase


.checkout.woocommerce-checkout 
  input
    background-color: $white

.place-order
  #place_order
    background-color: $darkgrey
    color: $white
    text-align: center
    transition: 0.4s color, 0.4s background-color

    &:hover
      background-color: $white
      color: $darkgrey

.woocommerce-checkout
  input

    +placeholder
      +gothbook
      color: grey
      font-size: 0.6rem
      letter-spacing: 0.05rem
      line-height: 1.9rem
      text-align: left
      text-transform: uppercase


#ship-to-different-address
  +gothbook
  color: $darkgrey
  font-size: 0.6rem
  letter-spacing: 0.05rem
  line-height: 1.9rem
  text-align: left
  text-transform: uppercase
  border: none

.woocommerce-checkout-payment
  ul li
    +gothmed
    color: $darkgrey
    font-size: 0.7rem
    letter-spacing: 0.08rem
    line-height: 1.2rem
    text-transform: uppercase

span.required
  color: $rust
  font-size: 0.75rem


body.woocommerce-checkout
  .woocommerce-form-login
    p
      +gothbook
      color: $darkgrey
      font-size: 0.6rem
      letter-spacing: 0.05rem
      line-height: 1rem
      text-align: left
      text-transform: uppercase
      transition: 0.4s color

    label
      text-transform: initial

    input[type=submit]
      color: $white
      background-color: $darkgrey
      text-align: center
      transition: 0.4s color, 0.4s background-color



      &:hover
        color: $darkgrey
        background-color: $white
