/*  _grid1.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.grid_1
  +column(1)
  width: 100%
  margin: 0 auto

  +tablet
    margin: 150px auto 0

  +tablet
    +column(2, 35px)
    width: 80%
    max-width: 1200px


.grid_1
  .underline:first-child
    +tablet
      margin-top: -100px

  .image-block:first-child
    +tablet
      margin-top: 100px


.underline
  margin-top: 50px
  margin-bottom: 50px
  margin-left: 5px

  +tablet
    margin-top: 100px
    margin-bottom: 100px
    margin-left: 0

  h3
    width: 100%
    max-width: 360px

    +tablet
      max-width: 380px
      margin-left: 50px

    span
      padding-bottom: 4px


.paragraph
  h3
    width: 100%
    margin-top: 50px

    +tablet
      max-width: 340px
      margin: 100px 80px 50px auto


.signature
  width: 150px
  margin: 40px 50px 0 auto


.pullquote
  width: 100%

  +tablet
    max-width: 400px
    padding-bottom: 100px

  h3
    padding-top: 50px
    padding-left: 5px

    +tablet
      padding-left: 20px


.offerings
  max-width: 350px
  margin: 75px auto 0


.of-head
  h3
    position: relative
    margin-top: 20px
    margin-bottom: 35px

    &:after
      position: absolute
      width: 70px
      height: 2px
      bottom: -25px
      left: calc(50% - 35px)


.image-block
  // display: none
  height: 350px
  overflow: hidden
  margin-top: 30px

  +tablet
    display: block
    margin-bottom: 0
    margin-top: 0
    height: 100%


.of-content
  margin-top: 30px

  p
    margin-top: 40px


.of-pricing
  margin-top: 30px

  h4
    margin-bottom: 10px


.of-customization
  margin-top: 30px

  h4
    margin-bottom: 10px

  .custom-notes
    max-width: 280px
    margin: 0 auto

  
.of-additional-notes
  margin-top: 30px


.spacer 
  width: 100%


.spacer.single 
  +tablet
    height: 100px


.spacer.double 
  +tablet
    height: 200px


.spacer.triple 
  +tablet
    height: 300px

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.underline 
  h3
    +millerbanner
    color: $darkgrey
    font-size: 0.9rem
    line-height: 2.2rem
    text-transform: uppercase
    letter-spacing: 0.1rem
    widows: 3

    +tablet
      font-size: 1.6rem
      line-height: 3rem

    span
      border-bottom: 2px solid $darkgrey

.paragraph
  h3
    +millerbanner
    color: $darkgrey
    font-size: 1.1rem
    letter-spacing: 0.005rem
    line-height: 1.7rem

.pullquote
  h3
    +millerbanner
    color: $black
    font-size: 1.5rem
    line-height: 1.7em

    +tablet
      font-size: 2.8rem
      line-height: 1.2em

.offerings
  text-align: center

.of-head
  .heading
    +gothmed
    font-size: 0.6rem
    letter-spacing: 0.1rem
    text-transform: uppercase
    text-align: center

  h3
    +millerbanner
    color: $black
    font-size: 2.4rem
    line-height: 1.2em
    text-align: center
    text-transform: lowercase

    &:after
      content: " "
      background-color: $darkgrey

  .monogram
    +chronicitalic
    font-size: 0.8rem
    line-height: 1.5rem
    letter-spacing: 0.01rem
    text-align: center

.of-content
  p
    +chronicrom
    font-size: 1.1rem
    line-height: 1.5rem
    letter-spacing: 0.01rem
    text-align: center

.of-pricing
  h4
    +gothmed
    font-size: 0.8rem
    letter-spacing: 0.21rem
    text-align: center
    text-transform: uppercase

  .price
    +gothmed
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1.3rem
    text-transform: uppercase
    text-align: center

.of-customization
  h4
    +gothmed
    font-size: 0.8rem
    letter-spacing: 0.21rem
    text-align: center
    text-transform: uppercase

  .custom-notes
    +gothmed
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1.3rem
    text-transform: uppercase
    text-align: center

.of-additional-notes 
  .additional-notes  
    +chronicitalic
    font-size: 0.8rem
    line-height: 1.2rem
    letter-spacing: 0.01rem
    text-align: center  

.spacer
  background-color: transparent
