/*  _main.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.page-banner
  width: 90%
  max-width: 1500px
  height: 680px
  margin: 0 auto


.paragraph
  h3
    max-width: 340px
    width: 100%
    margin: 100px 80px 50px auto


.signature
  width: 150px
  margin: 40px 50px 0 auto

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.page-banner
  +img

.underline 
  h3
    +millerbanner
    color: $darkgrey
    font-size: 1.6rem
    line-height: 3rem
    text-transform: uppercase
    letter-spacing: 0.1rem
    widows: 3

    span
      border-bottom: 2px solid $darkgrey


.paragraph
  h3
    +millerbanner
    color: $darkgrey
    font-size: 1.1rem
    letter-spacing: 0.005rem
    line-height: 1.7rem

