/*  _example-style.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.woocommerce-message
  position: relative
  z-index: 100

.woocommerce-MyAccount-navigation
  width: 100%
  padding: 20px 0

  ul
    +flex($b: center)
    max-width: 600px
    margin: 0 auto 10px

    &:after
      position: absolute
      bottom: 0
      left: calc(50% - 34px)
      width: 71px
      height: 1px

  li
    flex: 0 0 auto
    padding: 5px
    margin-right: 10px
    margin-left: 10px
    margin-bottom: 20px


.woocommerce-MyAccount-content
  position: relative
  width: 100%
  margin: 50px auto 100px

  +tablet
    width: 500px
    margin: 50px auto 200px

  .woocommerce-message,
  .woocommerce-Message
    position: relative
    padding: 30px
    z-index: 100

  .u-columns
    +flex
    margin-top: 30px
    margin-left: 50px
    margin-right: 50px

    +tablet
      margin-left: 0
      margin-right: 0

  .u-column1, .u-column2
    flex: 0 0 100%

    +tablet
      flex: 0 0 48%

.woocommerce-Address-title
  .edit
    display: block
    margin: 15px auto 7px

.woocommerce-EditAccountForm, 
.woocommerce-form-login, 
.u-column2 .register
  label
    display: block
    margin-bottom: 10px

  input
    width: 100%
    height: 40px
    margin-bottom: 30px
    padding-left: 20px

  .woocommerce-Button
    width: 170px
    padding-left: 6px

  fieldset
    margin-top: 30px

    legend
      margin: 10px auto 20px

.woocommerce
  #customer_login
    max-width: 520px
    margin: 0 auto 10px

    h2
      position: relative
      margin-top: 30px
      margin-bottom: 20px
      padding-bottom: 1px

    .login-copy
      margin-bottom: 30px  

    input
      display: block
      margin-left: auto
      margin-right: auto

    input[type=submit]
      margin-right: 0

      +tiny
        width: 100%


    .woocommerce-form__input-checkbox
      display: inline-block
      width: 12px
      height: 12px
      margin-bottom: -1px
      margin-top: 0
      margin-right: 15px
      padding: 0px

    .woocommerce-LostPassword

  .u-column1, .u-column2
    margin-bottom: 50px

#account-sign-in
  +flex($b: flex-end, $c: right)

  input[type=submit]
    flex: 0 0 100%
    +tablet
      flex: 0 0 100px
      margin-left: 0
      margin-right: 0

  .forgot_password_d
    flex: 0 0 100%
    margin-bottom: 20px
    height: 40px
    padding: 5px
    display: block

    +tablet
      flex: 0 0 160px
      margin-right: 20px

  .woocommerce-form__label-for-checkbox
    flex: 0 0 100%

    .remember-me-wrapper

      +tablet
        width: 170px
        display: block
        margin-top: -60px
        margin-bottom: 60px

.woocommerce-password-hint,
.woocommerce-password-strength,
  display: block
  margin-top: 15px
  margin-bottom: 40px

.woocommerce-password-strength.bad,
.woocommerce-password-strength.short
  margin-bottom: 0

.return-to-shop
  width: 180px
  margin: 10px auto

.woocommerce-MyAccount-navigation-link--downloads
  display: none

body.woocommerce-edit-address
  .woocommerce-address-fields__field-wrapper
    +flex
    padding-top: 30px

    label
      display: block

    input 
      display: block

    p
      margin-bottom: 30px

    #shipping_state_field,
    #shipping_postcode_field
      flex: 0 0 100%
      +tablet
        flex: 0 0 25%
        overflow: hidden

  input[type=submit].button
    display: block
    margin-left: auto



/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.woocommerce-MyAccount-navigation

  ul li a
    +gothmed
    color: $darkgrey
    font-size: 0.7rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: center  
    transition: 0.4s color


  ul
    &:after
      content: " "
      background-color: $darkgrey

  li
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px
    transition: 0.4s background-color

    &:hover
      background-color: $darkgrey

      a
        color: $white

body.logged-in
  .woocommerce-MyAccount-content
    p, 
    .woocommerce-message, 
    .woocommerce-Message
      +millerbanner
      color: $darkgrey
      font-size: 1.1rem
      letter-spacing: 0.005rem
      line-height: 1.9rem
      text-align: center
      text-transform: initial
      border: none

      strong, a
        color: $rust
        transition: 0.4s color

        &:hover
          color: $darkgrey

    .u-columns
      h3, 
      a
        +gothmed
        font-size: 0.75rem
        letter-spacing: 0.1rem
        text-align: center
        text-transform: uppercase

      a
        color: $rust
        font-size: 0.6rem
        transition: 0.4s color

        &:hover
          color: $darkgrey
      
      address
        +millerbanner
        color: $darkgrey
        font-size: 0.8rem
        letter-spacing: 0.005rem
        line-height: 1.2rem
        text-align: center


.woocommerce-EditAccountForm, 
.woocommerce-form-login, 
.u-column2 .register

  .woocommerce-LostPassword
    +millerbanner
    color: $darkgrey
    font-size: 1.1rem
    letter-spacing: 0.005rem
    line-height: 1.9rem
    text-align: center
    transition: 0.4s color

    a
      color: $rust

      &:hover
        color: $darkgrey

  label
    +gothbook
    font-size: 0.6rem
    letter-spacing: 0.015rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left
  input
    +gothmed
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px
    transition: 0.4s background-color    

  .woocommerce-Button
    background-color: $darkgrey
    color: $white
    text-align: center
    transition: 0.4s background-color, 0.4s color

    &:hover
      background-color: $white
      color: $darkgrey

  fieldset

    legend
      +gothmed
      font-size: 0.75rem
      letter-spacing: 0.1rem
      text-align: center
      text-transform: uppercase
  
    
.woocommerce
  #customer_login
    h2
      +millerbanner
      color: $black
      font-size: 1.6rem
      line-height: 1.2em
      text-align: center

      +tablet
        font-size: 2.8rem

    p
      +millerbanner
      color: $darkgrey
      font-size: 1.1rem
      letter-spacing: 0.005rem
      line-height: 1.9rem
      text-align: center

    .woocommerce-form__input-checkbox
      -webkit-appearance: none;
      appearance: none
      border: 1px solid $darkgrey
      border-radius: 4px
      transition: 0.4s background-color 

      &:checked
        background-color: $darkgrey

.woocommerce-password-strength
  +gothmed
  font-size: 0.75rem
  letter-spacing: 0.1rem
  text-align: center
  text-transform: uppercase

.woocommerce-password-hint
  +millerbanner
  color: $darkgrey
  font-size: 0.8rem
  letter-spacing: 0.005rem
  line-height: 1.2rem
  text-align: center

.cart-empty
  +millerbanner
  color: $darkgrey
  font-size: 1.1rem
  letter-spacing: 0.005rem
  line-height: 1.9rem
  text-align: center
  transition: 0.4s color

.return-to-shop
  +gothmed
  color: $darkgrey
  font-size: 0.6rem
  letter-spacing: 0.1rem
  line-height: 1rem
  text-transform: uppercase
  text-align: center
  border-style: solid
  border-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px
  transition: 0.4s background-color

  a 
    color: $darkgrey

  &:hover
    background-color: $darkgrey

    a
      color: $white

.woocommerce-message a
  color: $rust
  transition: 0.4s all

  &:hover
    color: $darkgrey

.forgot_password_d
  +gothmed
  color: $darkgrey
  font-size: 0.6rem
  letter-spacing: 0.05rem
  line-height: 1rem
  text-transform: uppercase
  text-align: center
  border-style: solid
  border-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px
  transition: 0.4s background-color

span.remember-me-wrapper
  span 
    +gothmed
    font-size: 0.75rem
    letter-spacing: 0.1rem
    text-align: center
    text-transform: uppercase

body.woocommerce-edit-address
  h3
    +gothbold
    color: $darkgrey
    font-size: 0.75rem
    letter-spacing: 0.1rem
    line-height: 1.9rem
    text-align: left
    text-transform: uppercase
    border-bottom-style: solid
    border-bottom-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px

  label
    +gothbook
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.05rem
    line-height: 1rem
    text-align: left
    text-transform: uppercase
    transition: 0.4s color

  input
    +gothmed
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px
    transition: 0.4s background-color 

  .select2.select2-container.select2-container--default 
    +gothbook
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.05rem
    line-height: 1rem
    text-align: left
    text-transform: uppercase
    transition: 0.4s color   
    border-style: solid
    border-width: 6px
    border-image: url('../assets/border-button.svg') 25% stretch
    border-image-outset: 1px

  input[type=submit].button
    color: $white
    background-color: $darkgrey
    transition: 0.4s color, 0.4s background-color

    &:hover
      color: $darkgrey
      background-color: $white