/*  _purchaseForm.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


.purchase-form
  width: 80%
  margin: 50px auto 0

  .form-header
    .form-tagline
      max-width: 400px
      margin: 20px auto

  form
    +flex
    margin-top: 50px

    .purchase
      margin-bottom: 30px
      padding-left: 20px

      +placeholder
    
    input
      height: 45px

    .pname, .ptextarea
      flex: 0 0 100%

    .psize, .ppurpose
      flex: 0 0 100%

      +tablet
        flex: 0 1 30%

    .pemail, .pphone
      flex: 0 0 100%

      +tablet
        flex: 1 0 calc(70% - 30px)
        margin-left: 30px

    .psubmit
      flex: 0 0 100%
      padding-left: 6px

      +tablet
        flex: 0 0 auto
        margin-left: auto
        align-self: flex-end


    .ptextarea
      padding-top: 10px

.confirmation
  margin-top: 20px

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.purchase-form
  .form-header,
  .confirmation
    h3
      +gothmed
      font-size: 0.8rem
      letter-spacing: 0.21rem
      line-height: 1.2rem
      text-align: center
      text-transform: uppercase

  .form-tagline
    +gothmed
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: center    


  .purchase
    +gothmed
    color: $darkgrey
    font-size: 0.6rem
    letter-spacing: 0.1rem
    line-height: 1rem
    text-transform: uppercase
    text-align: left

    +placeholder
      color: $darkgrey


  .psubmit
    font-size: 0.7rem
    letter-spacing: 0.15rem
    text-align: center
    background-color: $darkgrey
    color: $white
    transition: 0.4s color, 0.4s background-color


    &:hover
      background-color: $white
      color: $darkgrey

