/* Resets & Tools */
@import 'reset'

@import 'mixins'

@import 'variables'


/* SITE CONTEXT -> Global styles */
h1, h2, h3, h5, a

p

html 
  font-size: 18px
  box-sizing: border-box
  background-color: $white

*, *:before, *:after
  box-sizing: inherit

body
  padding: 32px
  background-color: $white

  +tablet
    padding: 18px

img
  width: 100%
  box-sizing: border-box


/* Global modules ... */  
.border-box
  border-style: solid
  border-width: 6px
  border-image: url('../assets/border-button.svg') 25% stretch
  border-image-outset: 1px

.lazy
  position: relative
  opacity: 0
  -webkit-transform: translateX(0) translateY(100px)
  -moz-transform: translateX(0) translateY(100px)
  -o-transform: translateX(0) translateY(100px)
  -ms-transform: translateX(0) translateY(100px)
  transform: translateX(0) translateY(100px)
  transition: 2s opacity ease-in-out, 2s transform cubic-bezier(0.215, 0.61, 0.355, 1)


.lazy-gallery
  opacity: 0
  transition: 2s opacity cubic-bezier(0.455, 0.03, 0.515, 0.955)

.lazy-logo
  opacity: 0
  // -webkit-transform: translateX(0) translateY(-30px)
  // -moz-transform: translateX(0) translateY(-30px)
  // -o-transform: translateX(0) translateY(-30px)
  // -ms-transform: translateX(0) translateY(-30px)
  // transform: translateX(0) translateY(-30px)
  transition: 1.5s opacity ease-in-out
  // 1.5s transform cubic-bezier(0.215, 0.61, 0.355, 1)


.lazy-products
  position: relative
  opacity: 0
  -webkit-transform: translateX(0) translateY(100px)
  -moz-transform: translateX(0) translateY(100px)
  -o-transform: translateX(0) translateY(100px)
  -ms-transform: translateX(0) translateY(100px)
  transform: translateX(0) translateY(100px)
  transition: 2s opacity ease-in-out, 2s transform cubic-bezier(0.215, 0.61, 0.355, 1)

@for $i from 1 to 40
  $num: $i/2
  $prevNum: ($i - 1)/2
  $n: ceil($i/2)
  .lazy-products:nth-child(#{$i})
    @if $n == ($i/2)
      transition-delay: #{$prevNum}s
    @else 
      transition-delay: #{$num}s


.lazy-cart
  opacity: 0
  transition: 2s opacity ease-in-out

.lazy-footer
  opacity: 0
  transition: .5s opacity ease-in-out

.lazy-images
  opacity: 0
  transition: 2s opacity cubic-bezier(0.19, 1, 0.22, 1)
  -webkit-transition: 1s opacity cubic-bezier(0.19, 1, 0.22, 1)
  
@for $i from 1 to 10
  $num: $i/2
  .wrapper:nth-of-type(#{$i})
    .lazy-images
      transition-delay: #{$num}s

.lazy-bg
  -webkit-transform: translateX(-2000px) translateY(0)
  -moz-transform: translateX(-2000px) translateY(0)
  -o-transform: translateX(-2000px) translateY(0)
  -ms-transform: translateX(-2000px) translateY(0)
  transform: translateX(-2000px) translateY(0)
  transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1)
  -webkit-transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1)



.hide
  opacity: 0


.load
  opacity: 1
  -webkit-transform: translateX(0) translateY(0)
  -moz-transform: translateX(0) translateY(0)
  -o-transform: translateX(0) translateY(0)
  -ms-transform: translateX(0) translateY(0)
  transform: translateX(0) translateY(0)



/* Styles ... */
@import 'borders'

@import 'nav'

@import 'foot'

@import 'main'

@import 'grid1'

@import 'grid2'

@import 'text'

@import 'products'

@import 'contentHead'

@import 'collection'

@import 'coImages'

@import 'coContent'

@import 'purchaseForm'

@import 'portfolio'

@import 'myAccount'

@import 'cart'

@import 'checkout'

@import 'backToTop'